$bg-color: #040507;
$bg-color2: rgb(168, 167, 167);
$text-color: #FFFFFF;
$prod-color: #303030;
$hover-color: rgb(0, 93, 231);
$font-text: 'Open Sans', helvetica, arial, sans-serif;
$font-title: 'Montserrat', helvetica, arial, sans-serif;
