<!-- this is the index.html -->

<!DOCTYPE>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/master.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600' />
  </head>
  <body>

      <!-- triple handle bars are a shorthand for a router-view -->
      {{{body}}}

  <footer>
		<p class="copy float-left">
			&copy; 2019 Galaxy Explosion, Inc
		</p>

		<ul class="float-right" id="socialMedia">
			<li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter-square fa-2x"></i></a></li>
			<li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
		</ul>
	</footer>

    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="/javascripts/vendor/what-input.js"></script>
    <script src="/javascripts/vendor/foundation.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
